africastalking==1.1.9
architect==0.5.6
asn1crypto==0.24.0
astroid==2.1.0
attrs==18.2.0
Automat==0.7.0
autopep8==1.4.3
certifi==2019.9.11
cffi==1.12.2
chardet==3.0.4
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.5
Django==2.1.7
django-adminlte2==0.4.1
django-crispy-forms==1.7.2
django-environ==0.4.5
django-filter==2.2.0
django-twisted==0.1.0
djangorestframework==3.10.3
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
isort==4.3.9
jwt==0.6.1
lazy-object-proxy==1.3.1
lxml==4.4.1
mccabe==0.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.2.2
python-dotenv==0.10.1
pytz==2018.9
requests==2.22.0
schema==0.7.1
six==1.12.0
Twisted==18.9.0
typed-ast==1.3.1
Unipath==1.1
urllib3==1.25.6
wrapt==1.11.1
zope.interface==4.6.0
