{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block app_content %}

    {% block form %}
        <div class="col-sm-6">
            <form method="post" class="form-inline">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i>Search</button>
                </div>
            </form>
        </div>
    {% endblock %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#Batch.</th>
                <th>Pin</th>
                <th>Status</th>
                <th>Used by</th>
                <th>Sid</th>
                <th>Created Date</th>
                <th>Used At</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in pins %}
            <tr>
                <td>
                    {{ c.batch.id }}
                </td>
                <td>
                    {{ c.pin }}
                </td>
                <td>
                    {{ c.status }}
                </td>
                <td>
                    {{ c.used_by }}
                </td>
                <td>
                    {{ c.sid }}
                </td>
                <td>
                    {{ c.created_at }}
                </td>
                <td>
                    {{ c.used_at }}
                </td>
                <td>
                    {{ c.active }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-12">
            {% if pins.has_other_pages %}
            <ul class="pagination">
                {% if pins.has_previous %}
                    <a href="?page={{ pins.previous_page_number }}">&laquo;</a>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in pins.paginator.page_range %}
                    {% if users.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pins.has_next %}
                    <li><a href="?page={{ pins.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}

            </ul>
            {% endif %}
        </div>
    </div>



{% endblock  %}