{% extends "base.html" %}


{% block app_content %}

    <table id="tokens_datatable" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>No.</th>
                <th>Pin</th>
                <th>Token</th>
                <th>Units</th>
                <th>Phone Number</th>
                <th>Meter</th>
                <th>Amount</th>
                <th>Reference</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for token in tokens %}
            <tr>
                <td>
                    {{ forloop.counter }} {{ token.tokens }}
                </td>
                <td>
                    {{ token.pin }}
                </td>
                <td>
                    {{ token.token }}
                </td>
                <td>
                    {{ token.units }}
                </td>
                <td>
                    {{ token.phone_number }}
                </td>
                <td>
                    {{ token.meter }}
                </td>
                <td>
                    {{ token.amount_paid }}
                </td>
                <td>
                    {{ token.reference }}
                </td>
                <td>
                    {{ token.created|date:'Y-m-d H:i' }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block extended_js %}
{{ block.super}}
<script>
 $(document).ready( function () {
     $('#tokens_datatable').DataTable();
 });
</script>
{% endblock extended_js %}